<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MyApp</title>
  <link rel="stylesheet" href="/css/app.css">

  <style>
/* ==========================================================================
   #RESET
   ========================================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 12px;
  font-weight: 350;
  line-height: 1.4;
  color: #000;
}



img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.section-feed > article + article {
  margin-top: 1rem;
}

.section-feed {

    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

}

.section-header {
   max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (max-width: 1000px) {
  .section-feed,
  .section-header {
    max-width: 90vw;
  }
}


/* ==========================================================================
   END #RESET
========================================================================== */

.button-cta {
    padding: 0rem 1rem;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: system-ui;
    vertical-align: middle;
}


  </style>
</head>
<body>
  <section
    style="display: none; align-items: center; justify-content: space-between; padding: 1rem;"
    class="section-header"
    >
    <div class="header">
        <h2>Welcome to Phoenix!</h2>
    </div>
    <div class="content">
     <h3>My account</h3>
    </div>
  </section>

<main style="display: flex; align-items: start;">

<nav style="display: flex; flex-direction: column; gap: 1rem;
    padding: 0.5rem 0.5rem; max-width: 15%;">
     <a href="/g/valorant">
        <h3 style="font-size: 20px; background-color:blueviolet;color:white" >
        Valorant
        </h3>
     </a>
    <img
        style="margin-bottom: 1rem; object-fit: cover;"
        src="https://boundingintocomics.com/cdn-cgi/image/width=788,height=444,fit=crop,quality=90,gravity=auto,sharpen=1,metadata=none,format=auto,onerror=redirect/wp-content/uploads/2022/12/2022.12.14-04.04-boundingintocomics-6399f41ada83f.png"
    >
    <button class="button-cta">
        nouveau post
    </button>

</nav>

  <section
    style="padding-inline:1rem; max-width:800px"
    class="section-feed"
    >

     <header
        style="display: flex; align-items: center; justify-content: space-between; padding: 0.5rem;
        background-color:#7532ff;color:white; width: 100%;"
        class="section-header"
    >
        <div class="header">
            <h2>Welcome to Phoenix!</h2>
        </div>
        <div class="content">
        <button
        class="connexion-button"
        >connexion</button>
        </div>
  </header>

  <section
    style="min-height: calc(100vh - 4rem); background-color: #f6f6ef;"
    class="section-feed"
    >

   <!-- ========================================================================
       POST
       ========================================================================== -->
    <article
        style="width: 100%; display: flex; align-items: start;
        column-gap: 1rem; justify-content: space-between;
        padding-block: 1rem;
        font-family: system-ui;
        border-bottom: 2px solid white;
        "
    >
      <header style="width: 25%; text-align: left;
        display: flex; align-items: center; column-gap: 1rem;"
      >
       <button>
          Like
        </button>
        <p style="font-weight:500">
         <span> [LF1] </span>
         <span> [LF2] </span>
         <span> [CHILL] </span>
        </p>
      </header>
      <main style="width: 75%; text-align: left;">
        <p style="font-family: system-ui; font-size: 13px; font-weight: 500;">
           Looking for people to play cs2, prefferably 4 people. Nothing competitive much, only to have fun and laugh. 15 years old. Timezone GMT+1 . im not really good at the game, so dont expect much.
        </p>
      </main>
      <footer style="width: 25%; text-align: right; font-family: system-ui; ">
        par edwingbeti14725 | il y a 2h
      </footer>
</article>
  </section>



  </section>
</main>


</body>
</html>
