<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrapped 2025 - Revivre tes moments</title>


    <style>
        /* Custom styles si besoin */
    </style>
</head>
<body class="">

    <div class="">
        <h1 class="">Wrapped 2025</h1>
        <p class="">Revivez vos meilleurs moments de l'année en 7 slides</p>

        <a href="/create" class="underline">
            Commencer
        </a>
    </div>

</body>
</html>
