<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MyApp</title>
  <style>
/* ==========================================================================
   #RESET
   ========================================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 12px;
  font-weight: 350;
  line-height: 1.4;
  color: #000;
}



img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}


/* ==========================================================================
   END #RESET
========================================================================== */

.section-feed > article + article {
  margin-top: 1rem;
}
.section-feed {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #f6f6ef;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section-header {
   max-width: 97.5vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .section-feed,
  .section-header {
    max-width: 95vw;
  }
}
.connexion-button {
    padding: 0rem 1rem;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: system-ui;
    vertical-align: middle;
}
.launch-button {
    padding: 0.75rem 1rem;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease-in-out;
    font-family: system-ui;
    vertical-align: middle;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    background-color: buttonface;
    border-color: buttonborder;
    border-image: initial;
    border: 1px solid buttonborder;
}
img {
    width: 100%;
}
.main-image {
    width: 100% ;
}
@media screen and (min-width: 850px) {
  /* CSS rules to apply when the viewport width is 600px or more */
    .main-image {
        width: 40% !important;
    }
}
.header-gutter > * + * {
    margin-top: 0.5rem;
}
.my-search-bar {
    width: 100%;
    padding: 1.15rem 0.75rem;
    font-family: system-ui;
    font-size: 12px;
    resize: vertical;
    border: 1px solid #ccc;
    border-style: outset;
        border-color: buttonborder;
    border-image: initial;
        color: buttontext;
    appearance: auto;
    background-color: buttonface;
    border-radius: 10px;
}
.my-search-bar::placeholder {
    color: black;
    font-family: system-ui;
    font-size: 14px;
}
@media screen and (min-width: 600px) {
  /* CSS rules to apply when the viewport width is 600px or more */
    .my-search-bar {
        max-width: 45%;
    }
}
input:focus {
  outline: none;
}
@media screen and (max-width: 600px) {
  /* CSS rules to apply when the viewport width is 600px or more */
   .hidden-mobile {
       display: none;
   }
}
@media screen and (min-width: 600px) {
  /* CSS rules to apply when the viewport width is 600px or more */
    .hidden-desktop {
        display: none;
   }
}


</style>
</head>
<body>
  <section
    style="display: flex; align-items: center; justify-content: space-between; padding: 1rem;
        column-gap: 2rem;"
    class="section-header"
    >
    <div>
        <h2 style="font-size: 14px;">Welcome to Phoenix!</h2>
    </div>
      <div style="flex:1; width:100%"
        class="hidden-mobile">
            <input type="text" class="my-search-bar"
                placeholder="Rechercher">
        </div>
    <div class="content">
     <button
       class="connexion-button"
     >connexion</button>
    </div>

  </section>


  <section style="padding-inline:2rem; padding-block:1rem
         background-color: #f6f6ef;
         min-height: calc(100vh - 4rem);"
    class="section-feed"
    >
    <!-- ========================================================================
       POST
       ========================================================================== -->
    <header class="header-gutter">
        <h1 style="font-size: 30px; margin-bottom: 0.5rem;">
            Startup Directory
        </h1>
        <p style="font-size: 16px;  font-family: system-ui;">
            Since 2005, we have invested in over 5,000 companies that have a combined valuation of over $800B.
        </p>


         <div>
            <a
            class="launch-button"
            href='/g/valorant'
            >
            Explore le Feed Valorant
            </a>
        </div>

        <div style="flex:1; width:100%"
            class="hidden-desktop">
            <input type="text" class="my-search-bar"
                placeholder="Rechercher">
        </div>

        <div>
          <img
            style="margin-top: 1.5rem;"
            class="main-image"
            src="https://images.pexels.com/photos/4132411/pexels-photo-4132411.jpeg?_gl=1*p7o1ub*_ga*NTgwMTIwMTcyLjE3NjMyNTI2Mzg.*_ga_8JE65Q40S6*czE3NjcyOTg5NjgkbzE3JGcxJHQxNzY3Mjk5MDkyJGo1OSRsMCRoMA.." alt="">
        </div>
    </header>

  </section>



    <footer
        style="background-color: white;
               padding: 1rem;
               margin-top: 1rem;
               border-top: 2px solid white;"
        >

    </footer>

</body>
</html>
