<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module" src="http://localhost:5173/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">

<div class="min-h-screen ">

  <header class="fixed top-0  left-0 right-0 h-16 bg-white border-b-2 border-gray-200 z-20">
      <div>

      </div>
      <div class="flex gap-x-4 items-center justify-between h-full px-4 lg:ml-64">

          <div
            id="search-input"
            class="flex-1  flex items-center space-x-4">
              <input
                type="text"
                placeholder="Search (ctrl + k)"
                class="p-2  bg-gray-200 rounded-full w-full max-w-sm focus:outline-none">
          </div>

          <div class="flex items-center space-x-4">
              <button class="bg-black text-xs font-semibold text-white px-4 py-3 rounded-full">Sign in</button>
          </div>
      </div>
  </header>

  <aside class="hidden   lg:flex fixed top-16 left-0 w-80  border-gray-200 p-4 z-10
                h-[calc(100vh-4rem)] overflow-y-auto px-4">
    <nav class="space-y-1 w-full text-gray-800 pt-2">

    <article class="flex items-center gap-4 block p-2 rounded-lg bg-gray-100 ">

<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-birdhouse-icon lucide-birdhouse"><path d="M12 18v4"/><path d="m17 18 1.956-11.468"/><path d="m3 8 7.82-5.615a2 2 0 0 1 2.36 0L21 8"/><path d="M4 18h16"/><path d="M7 18 5.044 6.532"/><circle cx="12" cy="10" r="2"/></svg>          <a href="#" class="">Home</a>

    </article>
      <a href="#" class="block p-2 rounded-lg hover:bg-gray-50">Recent comments</a>
      </nav>
  </aside>

  <main class="flex-1 lg:ml-80 mt-16 p-4 pt-4">
      <section class="bg-white max-w-2xl space-y-1">


<!-- Start: main-article -->
<hr>
<article class=" p-2 rounded-lg hover:bg-gray-50 transition-colors duration-300">
    <div class="flex items-start justify-between">

        <header class="flex-1 pr-4 space-y-2">

            <div class="flex items-center text-sm mb-1 gap-x-2">
                            <img class="hidden object-cover w-8 h-8 rounded-lg" src="https://i.pinimg.com/736x/b7/00/99/b70099c2f7ca070396e75bc4f3ba59d9.jpg" alt="">

                <p class="font-bold text-gray-700">
                    Valorant
                </p>
                <span class="text-gray-500">by @Sammy Xf · 3d ago</span>

            </div>

            <h2 class="text-sm  leading-snug hover:text-red-600 cursor-pointer">
Need Sage/Cypher. Chill vibes, trying to push Plat.
</h2>

        </header>

            <div class="flex gap-2">

   <!-- Card 2 -->
  <div class="bg-white rounded-2xl flex flex-col items-center justify-center h-16 w-16 shadow-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-up-dash-icon lucide-arrow-big-up-dash"><path d="M9 13a1 1 0 0 0-1-1H5.061a1 1 0 0 1-.75-1.811l6.836-6.835a1.207 1.207 0 0 1 1.707 0l6.835 6.835a1 1 0 0 1-.75 1.811H16a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1z"/><path d="M9 20h6"/></svg>
    <p class="text-sm font-semibold text-gray-900">180</p>
  </div>
    <!-- Card 1 -->

  <div class="bg-white rounded-2xl hidden lg:flex flex-col items-center justify-center h-16 w-16 shadow-sm">
    <svg class="w-4 h-4 mb-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
    </svg>
    <p class="text-sm font-semibold text-gray-900">24</p>
  </div>


</div>



    </div>

<footer class="mt-2 lg:mt-0 flex items-center gap-2 flex-wrap max-w-sm">
        <span class="text-xs font-semibold text-white p-2 rounded-full bg-purple-600">#Fil de discussion principal</span>
</footer>
<footer class="mt-2 lg:mt-0 flex items-center gap-2 flex-wrap max-w-sm">
<span class="text-xs p-2 rounded-full ">Commentaires</span>
<span class="text-xs p-2 rounded-full ">contact</span>
<span class="text-xs p-2 rounded-full ">interesse</span>

</footer>

</article>
<!-- End: main-article -->


<! -- Dynamic content -->

 <!-- LISTE DES ANNONCES -->

    <%= for announcement <- @announcements do %>
    <hr>
  <!-- Start: main-article -->
  <article class="p-2 rounded-lg hover:bg-gray-50  transition-colors duration-300">
    <div class="flex items-start justify-between">

      <header class="flex-1 pr-4 space-y-2">

        <div class="flex items-center text-sm mb-1 gap-x-2">
          <img class="hidden object-cover w-8 h-8 rounded-lg" src="https://i.pinimg.com/736x/b7/00/99/b70099c2f7ca070396e75bc4f3ba59d9.jpg" alt="">

          <p class="font-bold text-gray-700">
            <%= announcement.game %>
          </p>
          <span class="text-gray-500">by @<%= announcement.user.username %> · <%= announcement.time_ago %></span>
        </div>

        <h2 class="text-sm leading-snug hover:text-red-600 cursor-pointer">
          <%= announcement.description %>
        </h2>
      </header>

      <div class="flex gap-2">
        <!-- Card 2 -->
        <div class="bg-white rounded-2xl flex flex-col items-center justify-center h-16 w-16 shadow-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-up-dash-icon lucide-arrow-big-up-dash"><path d="M9 13a1 1 0 0 0-1-1H5.061a1 1 0 0 1-.75-1.811l6.836-6.835a1.207 1.207 0 0 1 1.707 0l6.835 6.835a1 1 0 0 1-.75 1.811H16a1 1 0 0 0-1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1z"/><path d="M9 20h6"/></svg>
          <p class="text-sm font-semibold text-gray-900">180</p>
        </div>

        <!-- Card 1 -->
        <div class="bg-white rounded-2xl hidden lg:flex flex-col items-center justify-center h-16 w-16 shadow-sm">
          <svg class="w-4 h-4 mb-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
          </svg>
          <p class="text-sm font-semibold text-gray-900">24</p>
        </div>
      </div>

    </div>

    <!-- Tags dynamiques -->
    <footer class="mt-2 lg:mt-0 flex items-center gap-2 flex-wrap max-w-sm">
      <%= for tag <- announcement.tags do %>
        <span class="text-base p-1 rounded-full font-bold   text-purple-700">[<%= tag %>]</span>
      <% end %>
    </footer>

    <footer class="mt-2 lg:mt-0 flex items-center gap-2 flex-wrap max-w-sm">
      <span class="text-xs p-2 rounded-full">Commentaires</span>
      <span class="text-xs p-2 rounded-full">contact</span>
      <span class="text-xs p-2 rounded-full">interesse</span>
    </footer>

  </article>
<% end %>


<!-- End: Dynamic content -->

<hr class="hidden">
      </section>


  </main>

</div>
</body>
</html>
